#ignores
\.DS_Store
\.classpath
\.project
\.settings
\.springBeans
\.metadata/
Servers/
target/
*/out/*
*/.idea
*/*.iml
*/.gradle
*/build
*/.build
build/*
gradle/*
*.jar

.idea/

.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/cuando-rindo-v2.iml
.idea/workspace.xml

